.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-align: left;
  }
  

  mark.light_pink {
    color:black;
    background-color: #F8BBD0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: .0em 0 0 orange,-.0em 0 0 orange
}

mark.light_green {
    color:black;
    background-color: rgb(187, 248, 205);
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: .0em 0 0 orange,-.0em 0 0 orange
}

mark.light_indigo {
    color:black;
    background-color: #9fa8da;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: .0em 0 0 orange,-.0em 0 0 orange
}

div.card
{
text-align: center;
padding: 10px;
border: 1px solid #000;
border-radius: 5px;
-moz-border-radius: 15px;
}

div.card_left
{
text-align: left;
padding: 10px;
border: 1px solid #000;
border-radius: 5px;
-moz-border-radius: 15px;
}
